/*
    CSS naming is based on kind of a BEM style convention
    http://getbem.com/introduction/
    http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/
.App {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App__logo {
    animation: App__logo-spin infinite 20s linear;
    height: 60px;
}

.App__header {
    flex: 1;
    width: 100%;
    background-color: #222;
    padding: 20px;
    color: white;
}

.App__body {
    flex: 9;
    width: 100%;
    max-width: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App__random {
    margin-top: .5rem;
}

@keyframes App__logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
