.Button {
    border-radius: .5rem;
    display: inline-block;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: Arial;
    padding: .4rem .6rem;
    text-decoration: none;
    background-color: #61dafb;
    border: 1px solid white;
    cursor: pointer;
    color: black;
}
.Button:disabled {
    cursor: default;
    background-color: white;
    border: 1px solid dimgrey;
    color: dimgrey;
}
.Button:hover {
    background-color: #03a9f4;
}
.Button:hover:disabled {
    background-color: white;
}
.Button:active {
    position: relative;
    top: 1px;
}
