.Input {
    border-radius: .5rem;
    border: 1px solid black;
    display: inline-block;
    color: black;
    font-family: Arial;
    font-size: 1rem;
    padding: .4rem .6rem;
    text-decoration: none;
}
.Input:disabled {
    cursor: default;
    background-color: white;
    border: 1px solid grey;
    color: grey;
}