.PlaylistForm {
    margin: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlaylistForm-input {
    flex: 3;
    margin-right: .5rem;
}

.PlaylistForm-button {
    flex: 1;
}