.Playlist {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.Playlist__container {
    display: flex;
    flex-direction: column;
}

.Playlist__Songs--visible-false{
    display: none;
}

.Playlist__Songs--visible-true{
    display: visible;
}

.Playlist--blacklisted {
    background-color: dimgrey;
}

.Playlist__music {
    margin-right: 5px;
}

.Playlist__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background-color: white;
    color: #222;
    margin-left: 1px;
    margin-right: 1px;
}

.Playlist__button:hover {
    border: 1px solid black;
}

.Playlist__button--danger {
    background-color: dimgrey;
    color: white;
    border: 1px solid black;
}

.Playlist__button--danger:hover {
    background-color: white;
    color: dimgrey;
}

.Playlist__button--blacklisted {
    background-color: white;
    color: black;
}

.Playlist__button--blacklisted:hover {
    background-color: #03a9f4;
    color: white;
}

.Playlist__actions {
    display: flex;
}